/* Main Container Styles */

.main-container {
    position: relative;
    width: 30%;
    height: 300px;
    margin: 0 auto;
    top: 180px;
    border-radius: 20px;
    background-color: hsl(0, 0%, 30%);
    box-shadow: 5px 5px 5px hsl(0, 0%, 0%);
}

h1, p {
    color: hsl(0, 0%, 90%);
    position: relative;
    font-family: poppins, sans-serif;
    text-align: center;
}

h1 {
    font-weight: bold;
    font-size: 1.5rem;
    top: 30px;
}

p {
    top: 100px;
    line-height: 1.5;
}

#mdn-link {
    position: absolute;
    top: 240px;
    width: 180px;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    text-decoration: underline;
    font-family: poppins, sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    color: hsl(0, 0%, 90%);
    transition: color 0.1s;
    cursor: pointer;
}

#mdn-link:hover {
    color: hsl(0, 0%, 10%);
}

#mdn-link-preview {
    border-radius: 20px;
    background-image: url('../images/MDN.png');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 5px 5px 5px hsl(0, 0%, 0%);
    position: relative;
    transform: translateY(-50%);
    width: 0px;
    height: 0px;
    opacity: 0;
    top: 370px;
    margin: 0 auto;
    transition: opacity 0.5s, width 0.5s, height 0.5s;
}

#mdn-link:hover ~ #mdn-link-preview {
    opacity: 1;
    width: 350px;
    height: 250px;
}